<div class="container">
  <form [formGroup]="weatherForm">
    <div class="form-group">
      <div class="row">
        <div class="col col-md-6">
          <input
            type="text"
            class="form-control m-4"
            style="max-width: 230px"
            (keyup.enter)="onSubmit()"
            formControlName="searchBar"
          />
          <div class="card mainCard mt-3">
            <img
              src="../assets/garam.jpeg"
              class="card-img-top"
              *ngIf="14 > 15"
            />
            <img
              src="../assets/cold.jpg"
              class="card-img-top"
              *ngIf="14 <= 15"
            />
            <div class="temp">
              <span>Place {{ cityName }}</span>
              <span>Temp: {{ temperature }}</span>
            </div>
            <div class="card-body" style="background-color: #c46868">
              <h6 class="card-title m-2">More Information</h6>
              <div class="card customCard mx-2 mt-3">
                <div class="row mt-4 ms-4">
                  <div class="col">
                    <img src="../assets/tanda.png" class="iconSize" />
                    <span>MinTemp: {{ temp_min }}</span>
                  </div>
                  <div class="col">
                    <img src="../assets/garam.png" class="iconSize" />
                    <span>MaxTemp: {{ temp_max }}</span>
                  </div>
                </div>
                <div class="row mt-4 ms-4">
                  <div class="col">
                    <img src="../assets/garam.png" class="iconSize" />
                    <span>Humidity: {{ humidity }}</span>
                  </div>
                  <div class="col">
                    <img src="../assets/tanda.png" class="iconSize" />
                    <span>wind: {{ wind }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
