* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
  background-color: #ce7c7c;
}
.mainCard {
  width: 18rem;
  height: 450px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}
.customCard {
  height: 200px;
  width: 17rem;
  display: flex;
  background-color: #dc7979;

  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.iconSize {
  height: 30px;
  width: 30px;
}
.temp {
  z-index: 1;
  position: relative;
}
